*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

#wrapper {
    width: 780px;
    margin: 0 auto;
    overflow: hidden;
}

#header {
    background-color:rgb(255, 115, 138);
    height: 85px;
    width: 100%;
    padding: 5px;
    margin: 20px 0;
    overflow: hidden;
}

#header img {
    width: 90px;
    height: 45px;
    border-radius: 150%;
}

#menu-utama {
    margin-top: 3px;
    list-style: none;
}

#menu-utama li {
    float: left;
    padding: 8px 20px;
    border-right: 1px solid white;
}

#menu-utama li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#header form {
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}

#header form input {
    border: none;
    height: 20px;
}

.artikel {
    background: rgb(255, 115, 138);
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    color: black;
}

.artikel img {
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 165px;
}

.artikel b {
    color: rgb(227, 227, 227);
    background: rgb(0, 0, 0);
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    margin-right:10px;
}

.artikel p {
    margin:10px 0;
   font-family: Arial, Helvetica, sans-serif;
}

.artikel a {
    display: block;
    text-align: right;
    color: rgb(214, 87, 214);
}

#artikel table {
    background-color: pink;
    color: black;
}